{% extends "home.html" %}
{% block content %}
{% for project in form[0] %}
    {% if project.author != form.id %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ project.project_name }}</h5>
                <p class="card-text">{{ project.project_description }}</p>
                <a href="project.project_link" class="card-link">{{ project.project_link }}</a>
                <form action="/your-endpoint" method="post">
                    <button type="submit" name="action" value="delete">Delete</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ project.project_name }}</h5>
                <p class="card-text">{{ project.project_description }}</p>
                <a href="project.project_link" class="card-link">{{ project.project_link }}</a>
                <form action="/your-endpoint" method="post">
                    <button type="submit" name="action" value="delete" disabled >Delete</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}