{% extends "layout.html" %}
{% block content %}
{% for project in form[0] %}
    {% if project.author.id == form[1].id %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ project.project_name }}</h5>
                <p class="card-text">{{ project.project_description }}</p>
                <a href="project.project_link" class="card-link">{{ project.project_link }}</a>
                
                <form action="{{ url_for('jobs.myprojects') }}" method="post">
                    <input type="hidden" name="item_id" value="{{ project.id }}">
                    <button type="submit" class="btn btn-sm btn-primary m-1" >Delete</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ project.project_name }}</h5>
                <p class="card-text">{{ project.project_description }}</p>
                <a href="project.project_link" class="card-link">{{ project.project_link }}</a><br>
                <button type="button" class="btn btn-sm btn-primary m-1" disabled>Accept  Job</button>
            </div>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}